body {
    font-family: "lato";
    background-color: #e6e6e6;
}

main {
    max-width: 480px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff;
}

h1 {
    font-family: "Playfair Display";
    font-weight: 500;
    padding: 1rem;
    width: 100%;
    position: relative;
}

h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 1rem;
    width: 20%;
    border: 3px solid #ff0080;
}

h2 {
    font-family: "Monsterrat";
    font-weight: 100;
    padding: 1rem;
}

button {
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: .5rem;
    border: 1px solid #0000ff;
    background: #0000ff;
    color: #ffff;
    width: fit-content;
}

p {
    font-family: "lato";
    line-height: 1.5;
    padding: 1rem;
}

span {
    color: #0000ff;
}