/* 
Background color: white
primary color: #5c8dff
secondary color:  #ff5cdf
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


header,
.navigations,
main,
footer {
    max-width: 480px;
    margin: 0 auto;
    padding: .5rem 1rem;
}

header {
    display: flex;
}

main {
    background-color: #f2f2f2;
}

header div,
footer ul {
    display: flex;
    gap: .3rem;
    align-items: center;
}

#ham {
    margin-left: auto;
}

#ham::before {
    content: "≡";
    display: inline-block;
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
    color: #000;
}

#ham.show::before {
    content: "X";
    display: inline-block;
    text-decoration: none;
    font-size: 50px;
    color: #000;
}

#menu,
footer ul {
    list-style: none;
}

#menu li,
footer img {
    padding: .5rem;
}

#menu li {
    padding: .5rem 1rem;
    width: 100%;
    background-color: #5c8dff;
    border: 1px solid black;
}

nav a {
    text-decoration: none;
    font-family: "lato";
}

#wayfinding {
    color: #000;
}

#menu {
    display: none;
}

#menu.show {
    display: block;
}

p {
    line-height: 1.5;
    font-family: "lato";
}

h3,
header span {
    font-family: "Montserrat";
}

footer {
    background-color: #ff5cdf;
}

/*********************Sections design**********************************************/

h1 {
    font-family: "Playfair Display";
    position: relative;
    padding-top: .5rem;
}

h1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    border-bottom: 5px solid #ff5cdf;
}

h2 {
    font-family: "lato";
}

section:not(.hero, .spotlight) {
    padding: 1rem;
    background-color: #fff;
    margin: 1rem 0;
}

section:not(.hero, .spotlight) h2{
    position: relative;
    padding-bottom: .5rem;
    margin-bottom: .5rem;    
}

section:not(.hero, .spotlight) h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    border-bottom: 5px solid #ffce5c;
}


.hero {
    padding: 2rem 0;
}

.hero div {
    text-align: center;
    background-color: #5c8dff;
    padding: .5rem;
}

.hero img {
    width: 100%;
}

.hero a {
    color: rgb(172, 2, 2);
    padding: .8rem;
    font-size: 1.2rem;
}

.hero span {
    padding: .5rem;
    display: block;
    font-size: 1.5rem;
}

.spotlight article {
    background-color: #5c8dff;
    padding: 1rem;
    margin: 1rem 0;
}



/*....................................Media Query..........................................................*/
@media only screen and (min-width: 768px) {
    header,
    .navigations,
    .hero,
    main,
    footer {
        max-width: 100%;
    }

    .navigations {
        background-color: #f2f2f2;
    }

    #ham {
        display: none;
    }

    #menu {
        display: block;
    }

    #menu a:hover {
        color: #2d00e1 
    }

    .spotlight {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }

    .weather {
        max-width: 50%;
    }

    footer {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: space-between;
    }

}