* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header,
.navigation,
main,
footer {
    max-width: 480px;
    margin: 0 auto;
    padding: .5rem 2rem;
}

header {
    display: flex;
}

#ham::before {
    content: "≡";
    display: inline-block;
    text-decoration: none;
    font-size: 6.52rem;
    color: #000;
}

#ham.show::before {
    content: "X";
    display: inline-block;
    text-decoration: none;
    font-size: 6.52rem;
    color: #000;
}

header a {
    margin-left: auto;
}

header div {
    display: flex;
    gap: .3rem;
    align-items: center;
}

h1,
section {
    padding: .5rem 1rem;
}

#menu {
    display: none;
}

#menu.show {
    display: block;
}

#menu {
    list-style: none;
}

#menu li {
    padding: .5rem 1rem;
    background-color: #000000e1;
    border: 1px solid #000;
    width: 100%;
}

.navigation a {
    text-decoration: none;
    color: #fff;
}

section {
    width: 100%;
}

.about {
    display: grid;
    grid-template-rows: repeat(2, max-content);
}

.about h2 {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: .5rem;
}

.about p {
    line-height: 1.2;
    font-size: 1rem;
    background-color: #00000070;
    padding: 1rem;
}

.photo {
    display: grid;
    grid-template-rows: repeat(2, max-content);
}

.photo h2 {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: .5rem;
}

.photo img {
    width: 100%;
    margin: 0 auto;
    padding: 1rem 2rem;
    background-color: #00000070;
}

footer a {
    background-color: #fff;
    text-align: center;
}

footer p {
    background-color: #00000070;
    text-align: center;
    padding: .5rem 1rem;
    margin: 0 auto;
}